.box {
  display: flex;
  width: 700px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-bottom: 12px;
}

.box-item-left {
  width: 25%;
}

.box-item-right {
  width: 75%;
  border: 1px solid #ccc;
}

.first-row {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  margin-left: 2px;
}

.title {
  border: 1px solid #ccc;
  padding: 2px;
  margin-left: 2px;
}

.logout {
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 2px;
}

.second-row {
  height: 95%;
  display: flex;
  border: 1px solid #ccc;
  margin-left: 2px;
}

.message {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
}

.info {
  width: 30%;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  margin-right: 2px;
}

.message-list {
  height: 95%;
}

.composer {
  height: 5%;
  border: 1px solid #ccc;
  margin-right: 2px;
}
